.nav-1 {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

.radio-buttons {
  display: flex;
}

input[type="radio"] {
  display: none;
}

label {
  cursor: pointer;
  color: white;
}

label:hover {
  color: blue;
}

button {

  cursor: pointer;
}

.content {
  display: none;
  margin-top: 20px;
}

.content.active {
  display: block;
}

input[type="radio"]:checked + label {
  /* Màu sắc khi được chọn */
  color: #ff0000; /* Màu chữ khi được chọn */
}
#mobileMenu {
  transition: transform 0.3s ease-in-out;
  transform: translateX(-100%);
}

/* Show the mobile menu when it's not hidden */
#mobileMenu:not(.hidden) {
  transform: translateX(0);
}