*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    height: 100vh;
   
}
.tr-1{
    position: relative;
    height: 100vh;

}
.tr-2{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.tr-3{
    position: absolute;
    top:50%;
    left: 60px;
    transform: translate(-50%,-50%);
    user-select: none;
    pointer-events: none;
    transition: 0.25s ease;

}

input{
    border: 1px solid white;
    position: relative;
    padding: 0 40px;
    height: 50px;
    width: 600px;
    border-color: blueviolet;
    border-radius: 4px;
    transition: 0.25s ease;
    

}

input:focus{
    border:1px solid red;
}

input:focus + .tr-3 {
    top:0px;
    display: inline-block;
    background-color: white;
    padding: 4px; 
    
}

